@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#card-main {
    border: 1px solid black;
    width: 600px;

}

.info-content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-image: linear-gradient(to right bottom, #4266f5, #008bff, #00a9fd, #30c1f1, #85d6e8, #94d5de, #a2d4d7, #b0d3d1, #92c0be, #74aeac, #559b9a, #308988);
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.penta-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    position: relative;
}

.penta-sub {
    position: absolute;
}

.penta-logo-1 {
    position: relative;
    border-bottom: 30px solid black;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

.penta-logo-2 {
    position: relative;
    width: 50px;
    border-top: 48px solid black;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.penta-logo-3 {
    position: relative;
    border-bottom: 27px solid white;
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
}

.penta-logo-4 {
    position: relative;
    width: 44px;
    border-top: 44px solid white;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
}


.full-name {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}

.cpn-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.img-profile {
    width: 100%;
    height: 100%;
}
