@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html {
    font-size: 1.25em;
}

header {
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
}

.head-nav {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    display: inline-block;
    text-decoration: none;
    color: #a0a0a0;
    border-radius: 33px;
}

.head-nav:first-child {
    background-color: #5f73f0;
    color: white;
}

#nav-img {
    width: 50px;
    margin: 0.5rem 1.5rem;
}

main {
    display: block;
    padding: 100px;
    background: url(banner.jpg) center top / cover no-repeat;
}

#login {
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    padding: 50px 75px;
}

#login-top {
    display: flex;
    justify-content: space-between;
}

#icon {
    width: 30px;
    margin-right: 10px;
}

#logo {
    display: flex;
    align-items: center;
}

#web-name p {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin: none;
}

#sign-up {
    text-align: right;
    color: #1855cd;
}

#alt-sign-in {
    display: flex;
    justify-content: space-between;
}

#google {
    width: 77%;
    height: 70px;
    padding: 0 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3f7cf0;
    color: white;
    border-radius: 10px;
}

#basketball {
    width: 70px;
    height: 70px;
    background: url(basketball.svg) center center / 25px no-repeat #fbd5fa;
    background-blend-mode: multiply;
    border-radius: 10px;
}

#sign-in-form {
    margin: 75px 0;
}

.sign-in-title {
    margin: 15px 0;
    color: #949195;
}

input[type=text] {
    height: 50px;
    width: 100%;
    padding: 0 50px;
    border: none;
    border-radius: 10px;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #a8cdf1;
}

button {
    padding: 20px 50px;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
}